/* common */
body {
    margin:0;
}
.container {
    opacity:0;
    transition:opacity 1.5s;
}
.container.appear {
    opacity:1;
}

/* header */
.header-container {
    display:flex;
    height:100px;
    border-bottom:2px solid black;
    position:fixed;
    width:100vw;
    background:white;
    z-index:1;
}
li {
    list-style:none;
}
a {
    text-decoration:none;
}
.list-container {
    display:flex;
    position:absolute;
    top:22px;
    right:40px;
}
.header-lists {
    display:flex;
}
a.header-list {
    margin:20px;
    color:black;
}
a.header-list:hover {
    color:gray;
}
.header-lists > li {
    border-right:1px solid black;
}
#right-list {
    border:none;
}
a#reservation {
    display:block;
    padding:20px;
    margin-left:40px;
    background:rgb(221, 81, 81);
    border-radius:10px;
    color:white;
}
a#reservation:hover {
    background:rgb(228, 144, 144);
}
@media (max-width: 620px) {
    .header-lists {
        display: none;
    }
}

/* background */
div.background-container {
    background-image:url(https://source.unsplash.com/3Eagf8RTqPc);
    background-attachment:fixed;
    background-size:cover;
}

/* carousel */
div.carousel-container {
    width:80%;
    height:560px;
    margin:0 auto;
    overflow:hidden;
    padding-top:100px;
}
ul#carouselImages {
margin:0;
padding:0;
width:100%;
height:100%;
display:flex;
}
li.carousel-image {
    height:100%;
    min-width:100%;
}
li.carousel-image > img {
width:100%;
height:100%;
object-fit:cover;
}
#prev,
#next {
  position: absolute;
  top: 380px;
  transform: translateY(-50%);
  border: none;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  font-size: 30px;
  padding: 0 8px 4px;
  cursor: pointer;
  height:100px;
  width:30px;
}
#prev:hover,
#next:hover {
    cursor:pointer;
    background: rgba(0, 0, 0, .5)
}
#prev {
    left:10%;
}
#next {
    right:10%;
}
.hidden {
    display:none;
}
nav {
    margin-top:10px;
    text-align:center;
}
nav button {
    border:none;
    margin:10px;
    width:16px;
    height:16px;
    background:#ddd;
    border-radius:50%;
    cursor:pointer;
}
button.current {
    background:rgb(93, 92, 92);
}

/* service */
#service {
    margin-top:100px;
}
#service > h1 {
    text-align:center;
    padding-top:100px;
}
#service > p {
    text-align:center;
    margin:0 75px;
    line-height:40px;
}
span a {
    color:red;
}

/* menu */
#menu {
    width:80%;
    margin:0 auto;
    padding-top:100px;
}
#menu > h1 {
    text-align:center;
}
.access-map > img {
    border:1px solid black;
}
ul.menu-list {
    display:flex;
    text-align:center;
    padding:0;
    margin-top:40px;
}
li.menu-image {
    width:25%;
}
li.menu-image img{
    width:60%;
}
ul.menu-titles {
    display:flex;
    text-align:center;
    padding:0;
}
li.menu-title {
    width:25%;
    font-weight:bold;
}
div.to-menuPage {
   margin:50px auto;
   width:100%;
   height:50px;
   text-align:center;
}
div.to-menuPage  > a {
    color:black;
    font-size:25px;
    border-bottom:1px solid black;
}

/* Price */
#price {
    width:80%;
    margin:0 auto;
    padding-top:100px;
}
#price > h1 {
    text-align:center;
}
.plan-container {
    display:flex;
}
.plan-title {
    width:50%;
    text-align:center;
    font-weight:bold;
    font-size:20px;
}
.plan-price {
    width:50%;
    text-align:center;
    font-weight:bold;
    font-size:20px;
}
.data {
    margin:0 auto;
    padding-bottom:30px;
}


/* Access */
#access {
    width:80%;
    margin:0 auto;
    padding-bottom:100px;
}
#access > h1{
    text-align:center;
    padding-top:100px;
}
.access-map {
    text-align:center;
    height:180px;
}
.access-datas {
    display:flex;
    flex-wrap:wrap;
}
.access-data {
    width:50%;
    text-align:center;
}

/* footer */
footer {
    height:100px;
    background:gray;
}
footer > p {
    margin:0;
    color:white;
    text-align:center;
    padding:38px 0;
}